<!DOCTYPE html>
<html>
    <head>
        <title>Munin Compare View</title>
        <meta http-equiv="REFRESH" content="0;url=comparison-day.html?scope=week">
    </head>
    <body>You will be redirected to the new and improved munin page in just a few seconds</body>
</html>
