body {
    background-color: #FFF;
    color: #333;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

a:link {
    color: #666;
    text-decoration: none;
}
a:visited {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #999;
    text-decoration: underline;
}
a:active {
    color: #999;
    text-decoration: none;
}

img.logo {
    height: 50px;
}

#grouplist .expander {
    font-weight: bold;
    cursor: pointer;
}

#grouplist .instance-container {
    display: none;
    margin-left: 10px;
}
#grouplist li {
    margin-top: 4px;
}
#head h1 {
    display: inline;
}
#grouplist .group {
    width: 190px;
    display: inline-block;
}
#grouplist .host {
    display: inline-block;
    width: 180px;
}
.warn {
    color: #F90;
}
.crit {
    color: #F00; !important
}
#smartgrid {
    margin-left: 300px;
}
#grouplist {
    float: left;
    position: absolute;
}
#grouplist ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}
#foot {
    width: 205px;
    text-align: right;
    margin-top: 50px;
    color: #AAA;
}
#dialogs {
    display: none;
}

#smartgrid .control {
    display: inline-block;
    white-space: nowrap;
    margin-bottom: 10px;
}
#smartgrid label {
    display: inline-block;
}
#smartgrid #scope {
    margin: 0 35px 10px 0;
}
#smartgrid #zoom {
    margin-right: 35px;
}
#smartgrid #reload {
    margin-right: 35px;
}
#smartgrid #clearGraphs {
    margin-left: 20px;
}

#smartgrid ul#graphArea {
    list-style: none;
    padding: 0;
}
#smartgrid .graphbox {
    float: left;
    display: block;
    width: auto;
    height: 130px;
    margin: 3px;
    overflow: hidden;
    border-bottom: 1px solid #CCC;
}
#smartgrid .graphbox .close {
    float:right;
    font-weight: bold;
    cursor: pointer;
}
#smartgrid .graphbox .title {
    display: block;
}
#smartgrid .graphbox .graph {
    width: 250px;
    position: relative;
    z-index: 0;
}

#createPresetDialog input {
    margin: 10px;
}

.ui-selectmenu {
    margin-top: -3px;
}

#graphview, #nodeview {
    margin-top: 20px;
}
#graphview h1, #nodeview h1 {
    font-size: 20px;
    margin: 0 10px;
    padding-left: 35px;
    font-weight: bold;
}
#graphview .graphrow, #quickview .graphrow {
    white-space: nowrap;
}
#graphview .graph, #quickview .graph {
    display: inline-block;
    overflow: hidden;
    height: 130px;
    border-bottom: 1px solid #CCC;
}

#graphview .graph .nodename, #quickview .graph .nodename {
    display: none;
}

#graphview .graph img, #nodeview .graphrow img, #quickview .graph img {
    width: 250px;
    position: relative;
    z-index: 0;
}

#graphview .category > div, #nodeview .category > div, #quickview .category > div {
    padding: 0 10px;
    margin: -1px 10px 10px;
}

#quickview button {
    vertical-align: top;
    margin-top: 15px;
}

#quickview h2 {
    font-weight: normal;
    font-size: 11px;
}

#comparisoncontrols #scope {
    width: 225px;
}

#comparisoncontrols .control, #nodecontrols .control {
    display: inline-block;
    margin: 0 10px 0;
}

#comparisoncontrols h1, #nodecontrols h1 {
    display: inline-block;
}
#comparisoncontrols #tagline, #nodecontrols #tagline {
    float: right;
}

#importData, #exportData {
    width: 300px;
    height: 200px;
}
#nodeview h2 {
    font-size: 14px;
}
#nodeview .graphrow {
    white-space: nowrap;
}
#nodeview .graph {
    display: inline-block;
    overflow: hidden;
    height: 115px;
    border-bottom: 1px solid #CCC;
}

ul.config, .config ul {
    list-style: none;
}
.config .cgroup {
}
.config .chost {
    display: none;
}
.config .csettingGroup {
    display: none;
}
.config .csettingType {
    display: none;
    margin-left: 15px;
}
.config .csettingType td {
    padding: 0 10px 0 0;
}

.config h1 {
    margin: 0;
    cursor: pointer;
    font-size: 16px;
}
.config h2 {
    margin: 0;
    cursor: pointer;
    font-size: 14px;
}
.config h3 {
    margin: 0;
    cursor: pointer;
    font-size: 12px;
}

.metaButtons {
    position: absolute;
    left: 100px;
    top: 0;
}
